{%  extends 'base.html.twig' %}
{% block title %}{{ equipment.name }}{% endblock %}
{% block backButton %}
    <button class="btn btn-secondary m-2" id="backButton" type="button" aria-label="Navigate back" onclick="window.location.href = '{{ path('inc_equipments') }}';">Equipment</button>
{% endblock %}
{% block body %}
    <h3 id="{{ equipment.fid }}">{{ equipment.name }}</h3>
    {% if equipment.damage|length > 0 %}
        <h5>Damages</h5>
        {% for damages in equipment.damage %}
            <p>{% if damages[0].formula is defined %}{{ damages[0].formula }}{% endif %}{% if damages[0].modifier is defined %} + {{ damages[0].modifier }}{% endif %}{% if damages[0].type is defined %} {{ damages[0].type }}{% endif %}{% if damages[0].material is defined %} {{ damages[0].material }}{% endif %}</p>
        {% endfor %}
    {% endif %}
    {% if equipment.description %}
    {{ equipment.description|raw }}{% endif %}
    {% if equipment.legal %}<hr/>{{ equipment.legal|raw }}{% endif %}
{% endblock %}