{%  extends 'base.html.twig' %}
{% block title %}{{ race.name }}{% endblock %}
{% block backButton %}
    <button class="btn btn-secondary m-2" id="backButton" type="button" aria-label="Navigate back" onclick="window.location.href = '{{ url('inc_races') }}';">Races</button>
{% endblock %}
{% block body %}
    <h2 id="{{ race.fid }}">{{ race.name }}</h2>
    <div class="d-flex flex-row flex-wrap justify-content-center">
    {% for subrace in race.subraces %}
        <a class="border inc-flex-300 d-flex flex-column calm-black" href="{{ path('inc_race',{slug: race.fid }) }}#{{ subrace.fid }}">
            <h3 class="p-2 text-center inc-padding-top">{{ subrace.name }}</h3>
            <span class="p-2 d-flex flex-row justify-content-center"><span class="p-2"><strong>Official:</strong> {% if subrace.official %}Yes{% else %}No{% endif %}</span> <span class="p-2"><strong>Author:</strong> {{ subrace.author }}</span></span>
        </a>
    {% endfor %}
    </div>
    {{ race.description|raw }}
    <h3>{{ race.name }} Traits</h3>
    {% for trait in race.incarnateRaceTraits %}
        <span class="float-left inc-padding-right" id="{{ trait.fid }}"><strong>{{ trait.name }}</strong></span>{{ trait.description|raw }}
    {% endfor %}
    {% if race.subraces|length > 0 %}
    <h4>Subraces</h4>
        {% for subrace in race.subraces %}
            <h5 id="{{ subrace.fid }}"><a href="#{{ race.fid }}">{{ subrace.name }}</a>
                <span class="inc-pointer" onclick="window.location.href='{{ path('inc_race',{slug: subrace.fid}) }}'"><i class="fas fa-scroll"></i></span>
            </h5>
            {{ subrace.description|raw }}
            {% for trait in subrace.incarnateRaceSubraceTraits %}
                <span class="float-left inc-padding-right" id="{{ trait.fid }}"><strong>{{ trait.name }}</strong></span>{{ trait.description|raw }}
            {% endfor %}
            {% if subrace.legal %}<hr/>{{ subrace.legal|raw }}{% endif %}
        {% endfor %}
    {% endif %}
    {% if race.legal %}<hr/>{{ race.legal|raw }}{% endif %}
{% endblock %}
