<!DOCTYPE html>
<html id="inc-top-html" class="{% if genericParts.mobileArray.mobile %}mobile{% endif %}" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="{{asset('assets/images/favicon.ico')}}" type="image/x-icon">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <script src="https://kit.fontawesome.com/6f58c46118.js" crossorigin="anonymous"></script>
        {% endblock %}
        {% block boostrapStyle %}
            {#
            <script src="text/javascript" src="https://cdn.jsdelivr.net/gh/thednp/minifill@0.0.4/dist/minifill.min.js"> </script>
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <![endif]-->
            #}
            <link rel="stylesheet" href="{{ asset('style/incBootstrap.css') }}">
        {% endblock %}
    </head>
    <body class="d-flex flex-column">
        <div class="inc-body inc-flex-grow">
            {% block body_indentation %}
            <div class="inc-indentation mt-3">
                {% block body %}{% endblock %}
            </div>
            {% endblock %}
        </div>
        <footer class="bg-secondary inc-flex-auto">
            <div class="list-unstyled d-flex justify-content-end">
                <a class="text-light container p-2" href="https://discord.gg/{{ discord }}" target="_blank">Discord</a>
                <a class="text-light container p-2" href="mailto:{{ email }}" target="_blank">Email</a>
                <a class="text-light container p-2" href="https://gitlab.com/{{ gitlab }}/issues" target="_blank">GitLab</a>
                <a class="text-light container p-2" href="https://www.patreon.com/{{ patreon }}" target="_blank">Patreon</a>
                <a class="text-light container p-2" href="https://www.youtube.com/channel/{{ youtube }}" target="_blank">YouTube</a>
            </div>
            <div class="bg-primary">
                <span class="text-light inc-blockify-center">© 2019 <a class="text-light" href="mailto:{{ email }}">Incarnate Gaming LLC</a></span>
            </div>
        </footer>
        <nav class="navbar navbar-expand-lg navbar-light bg-primary inc-sticky-header" id="navbar">
            <a id="incarnate-logo" class="navbar-brand text-light" href="/"><img src="{{ asset('assets/images/favicon.ico') }}">Incarnate Gaming</a>
            <button class="navbar-toggler bg-secondary text-light ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse overflow-auto" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {#<li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>#}
                    {% for item in genericParts.nav  %}
                        <li class="nav-item">
                        <button class="btn btn-primary"{% if item.subpages is defined %} id="{{ item.pageName }}DropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"{% else %} onclick="window.location.href='{{ path(item.pagePath)|index_stripper }}'"{% endif %}>{{ item.pageTitle }}</button>
                        {% if item.subpages is defined %}
                            <div class="dropdown-menu overflow-auto" aria-labelledby="{{ item.pageName }}Dropdown">
                                {% for subitem in item.subpages %}
                                    <a class="dropdown-item text-primary" href="{{ path(subitem.pagePath)|index_stripper }}">{{ subitem.pageTitle }}</a>
                                {% endfor %}
                                {# <div class="dropdown-divider"></div> #}
                            </div>
                        {% endif %}
                        </li>
                    {% endfor %}
                    <button class="btn btn-secondary mr-2" id="topButton" type="button" aria-label="Navigate to Top">Top</button>
                    {% block backButton %}{% endblock %}
                </ul>
            </div>
        </nav>
        {% block twigVariables %}<div id="incarnate-twig-variables" data-email="{{ email }}" data-discord="{{ discord }}" data-patreon="{{ patreon }}" data-gitlab="{{ gitlab }}" data-youtube="{{ youtube }}"></div>{% endblock %}
        {% block policyAccept %}<script src="{{ asset('packs/js/policyAccept.js') }}"></script>{% endblock %}
        {% block javascripts %}
            {#
            <script src="bootstrap-native-master/{{ asset('bootstrap-native-master/assets/js/scripts4.js') }}"></script>
            #}
            <script src="{{asset('packs/js/navFunctions.js')}}"></script>
            <script src="{{ asset('packs/js/orientation.js') }}"></script>
            <script src="{{ asset('packs/js/crossReference.js') }}"></script>
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {% endblock %}
        {% block analytics %}{% endblock %}
    </body>
</html>
