<!DOCTYPE html>
<html id="inc-top-html" class="{% if genericParts.mobileArray.mobile %}mobile{% endif %}" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="{{asset('assets/images/favicon.ico')}}" type="image/x-icon">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block boostrapStyle %}
            <link rel="stylesheet" href="{{ asset('style/incBootstrap.css') }}">
        {% endblock %}
        <script src="{{ asset('packs/js/cookies.js') }}"></script>
        <script>
            var incarnateDomain = '.incarnategamingllc.com';
        </script>
        <script src="{{ asset('packs/js/hooks.js') }}"></script>
        <script src="{{ asset('packs/js/incarnateReference.js') }}"></script>
        <script src="{{ asset('packs/js/ajax.js') }}"></script>
        {% block stylesheets %}
            <script src="{{ asset('packs/js/fontawesome.js') }}"></script>
        {% endblock %}
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="d-flex flex-column">
        <div class="inc-body inc-flex-grow">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% block body_indentation %}
            <div class="inc-indentation mt-2">
                {% block body %}{% endblock %}
            </div>
            {% endblock %}
        </div>
        <footer class="bg-secondary d-flex flex-column">
            <div class="list-unstyled d-flex justify-content-end">
                <a class="text-light container p-2" href="https://discord.gg/{{ discord }}" target="_blank">Discord</a>
                <a class="text-light container p-2" href="mailto:{{ email }}" target="_blank">Email</a>
                <a class="text-light container p-2" href="https://gitlab.com/{{ gitlab }}/issues" target="_blank">GitLab</a>
                <a class="text-light container p-2" href="https://github.com/{{ github }}" target="_blank">GitHub</a>
                <a class="text-light container p-2" href="https://www.patreon.com/{{ patreon }}" target="_blank">Patreon</a>
                <a class="text-light container p-2" href="https://www.youtube.com/channel/{{ youtube }}" target="_blank">YouTube</a>
            </div>
            <div class="bg-primary pb-2">
                <span class="text-light inc-blockify-center">© 2020 <a class="text-light" href="{{ path('inc_hire')|index_stripper }}">Incarnate Gaming LLC</a></span>
            </div>
        </footer>
        <nav class="navbar navbar-expand-lg navbar-light bg-primary inc-sticky-header" id="navbar">
            <a id="incarnate-logo" class="navbar-brand text-light" href="/"><img src="{{ asset('assets/images/favicon-white-64x64.png') }}">Incarnate Gaming</a>
            <button class="navbar-toggler bg-secondary text-light ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse overflow-auto" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <button class="btn btn-primary m-2" onclick="window.location.href='{{ path('inc_homepage')|index_stripper }}'">Home</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-primary m-2" onclick="window.location.href='{{ path('inc_demo')|index_stripper }}'">Demo</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-primary m-2" id="contentDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Content</button>
                        <div class="dropdown-menu overflow-auto" aria-labelledby="contentDropdown">
                            <a class="dropdown-item text-primary" href="{{ path('inc_backgrounds')|index_stripper }}">Backgrounds</a>
                            <a class="dropdown-item text-primary" href="{{ path('inc_classes')|index_stripper }}">Classes</a>
                            <a class="dropdown-item text-primary" href="{{ path('inc_equipments')|index_stripper }}">Equipment</a>
                            <a class="dropdown-item text-primary" href="{{ path('inc_feats')|index_stripper }}">Feat</a>
                            <a class="dropdown-item text-primary" href="{{ path('inc_lores')|index_stripper }}">Lore</a>
                            <a class="dropdown-item text-primary" href="{{ path('inc_races')|index_stripper }}">Races</a>
                            <a class="dropdown-item text-primary" href="{{ path('inc_riddles')|index_stripper }}">Riddles</a>
                            <a class="dropdown-item text-primary" href="{{ path('inc_rules')|index_stripper }}">Rules</a>
                            <a class="dropdown-item text-primary" href="{{ path('inc_skills')|index_stripper }}">Skills</a>
                            <a class="dropdown-item text-primary" href="{{ path('inc_tables')|index_stripper }}">Tables</a>
{#                            <a class="dropdown-item text-primary" href="{{ path('inc_spells')|index_stripper }}">Spells</a>#}
{#                            <a class="dropdown-item text-primary" href="{{ path('inc_npcs')|index_stripper }}">NPCs</a>#}
                        </div>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-primary m-2" onclick="window.location.href='{{ path('inc_about')|index_stripper }}'">About</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-primary m-2" onclick="window.location.href='{{ path('inc_join')|index_stripper }}'">Join</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-primary m-2" id="policyDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Policy</button>
                        <div class="dropdown-menu overflow-auto" aria-labelledby="policyDropdown">
                            <a class="dropdown-item text-primary" href="{{ path('inc_policy_reject')|index_stripper }}">Reject Policy</a>
                            <a class="dropdown-item text-primary" href="{{ path('inc_policy')|index_stripper }}">Website Policy</a>
                            <a class="dropdown-item text-primary" href="{{ path('inc_policy_general_license')|index_stripper }}">General License</a>
                            <a class="dropdown-item text-primary" href="{{ path('inc_policy_stand_alone')|index_stripper }}">Stand Alone Content</a>
                            <a class="dropdown-item text-primary" href="{{ path('inc_policy_embedded_content')|index_stripper }}">Embedded Content</a>
                        </div>
                    </li>
                    <button class="btn btn-secondary m-2" id="topButton" type="button" aria-label="Navigate to Top">Top</button>
                    {% block backButton %}{% endblock %}
                </ul>
            </div>
        </nav>
        {% block twigVariables %}<div id="incarnate-twig-variables" data-email="{{ email }}" data-discord="{{ discord }}" data-patreon="{{ patreon }}" data-gitlab="{{ gitlab }}" data-youtube="{{ youtube }}"></div>{% endblock %}
        {% block javascripts %}
            {#
            <script src="bootstrap-native-master/{{ asset('bootstrap-native-master/assets/js/scripts4.js') }}"></script>
            #}
            {% block policyAccept %}<script src="{{ asset('packs/js/policyAccept.js') }}"></script>{% endblock %}
            <script>
                var IncarnateAnalyticsTag = 'UA-155417623-1';
                const IncarnateCrossReferenceOveride = undefined;
            </script>
            <script src="{{asset('packs/js/navFunctions.js')}}"></script>
            <script src="{{ asset('packs/js/orientation.js') }}"></script>
            <script src="{{ asset('packs/js/crossReference.js') }}"></script>
            <script src="{{ asset('packs/js/analytics.js') }}"></script>
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {% endblock %}
        {% block analytics %}{% endblock %}
    </body>
</html>
