{%  extends 'base.html.twig' %}
{% block title %}Join{% endblock %}
{% block body %}
    <div class="container">
        <h2>Join in</h2>
        <p>This is a grand adventure, and we cannot do it alone. To build a project on this scale we need the help of the masses to pull it off.</p>
        <p>Each person has their own skills and their own resources. By banding together we can build something far better than we ever could apart.</p>
        <h3>Artwork</h3>
        <p>One of the weakest part of our project is the lack of artwork. Our team is great at writing code and lore, but not at making pretty images.</p>
        <p>If you enjoy making cool images we would love to see them. If you are making cool images, we would love to see your original artwork. Please send them to <a href="mailto:{{ email }}?subject=Cool%20Artwork%20I%20Made&body=Hi%20Philip!,%0A%0AI%20would%20like%20your%20opinion%20of%20the%20attached%20images.%0AIf%20you%20like%20them%20please%20add%20them%20to%20the%20appendix%20of%20an%20Incarnate%20Embedded%20Content%20License%20and%20send%20that%20to%20me%20for%20signing.%0ASincerly,%0A[[Your Name]]%0A%0AP.S.%20I%20know%20you%20need%20my%20information%20for%20that%20form.%0ALegal%20Name:%20%0AMailing%20Address:%20%0AEmail:%20%0ACompany%20(only%20if%20this%20work%20is%20from%20a%20company):%20%0ATitle%20(Only%20if%20relevant):%20%0A%0A(The%20License%20is%20at%20{{ url('inc_policy_embedded_content') }}%20if%20you%20have%20not%20found%20it%20yet.%20Please%20read%20it%20before%20sending%20this%20email.)">{{ email }}</a>. </p>
        <p>We believe that artwork is a part of the author and have chosen to draft far more liberal licenses that allow the artists to maintain more rights to their works. The main license is the <a href="{{ path('inc_policy_embedded_content') }}">Incarnate Embedded Content</a> which will be used for all commissioned work and most donations. Large donations may choose to be under the even more liberal <a href="{{ path('inc_policy_stand_alone') }}">Incarnate Stand Alone</a> license.</p>
        <h3>Playtesting</h3>
        <p>There are a lot of moving parts in the Incarnate System and bugs are inevitable. Please join our <a href="https://discord.gg/{{ discord }}" target="_blank">discord</a> to talk and discuss features. We also use a <a href="https://gitlab.com/{{ gitlab }}/issues" target="_blank">GitLab</a> to track known bugs and rank desired features.</p>
{#        <h3>Financial</h3>#}
{#        <p>No matter the field, bills need to be paid. The more money this project makes, the more time I will be able to invest in this project. Currently I have to accept outside commissioned jobs, such as website design and data entry, to pay the bills. The long term goal is for this project to make enough to pay for me full time and to have enough money to hire people with skills where I am weak. I know several artists and would greatly enjoy commissioning them to make custom artwork for this project.</p>#}
{#        <p>Please join our <a href="https://www.patreon.com/{{ patreon }}" target="_blank">Patreon</a>. These small monthly donations are the heartblood of what keeps this company going. Thank you for helping.</p>#}
    </div>
{% endblock %}