{% extends 'base.html.twig' %}
{% block title %}Reject Policy{% endblock title %}
{% block policyAccept %}{% endblock %}
{% block analytics %}{% endblock %}
{% block body %}
    <div class="container">
        <p>Thank you for taking time to read <a href="{{ path('app_policy_policy_website_page') }}">our policy</a> and decide it was not for you. Unfortunately, our website has embedded content from YouTube, FontAwesome and other sources which use third party cookies. We are setup so that these third party resources are automatically turned off unless you opt-in to cookie usage.</p>
        <p>We understand that you may not want to allow for tracking or third party cookies, but may still want the convenience of turning off the accept banner on every page. We have included a button below that will allow you to opt into storing a single reject cookie that will disable the banner but not allow any third party cookies to run. We have also provided buttons that make it easy to check the cookies stored by this website and to delete them (barring technical difficulties).</p>
        <button class="btn btn-primary mb-2" id="incarnate-check-cookies">Check Cookies</button>
        <div id="check-cookie-results"></div>
        <button class="btn btn-primary mb-2" id="incarnate-remove-cookies">Remove Cookies</button>
        <div id="postScriptInsert"></div>
        <button class="btn btn-primary mb-2" id="incarnate-set-reject-cookie">Set a single cookie to stop the policy reject banner, but allow no more cookies.</button>
        <h3>Account Holders</h3>
        <p>If you have created an account with us then you may also have login cookies. To clear login cookies please <a href="{{ path('app_logout') }}">logout</a>. To have your account deleted please email <a href="mailto:{{ email }}">{{ email }}</a> (an automated system is in the works but not yet deployed).</p>
    </div>
    <script src="{{ asset('packs/js/policyReject.js') }}"></script>
{% endblock %}