{% for person in genericParts.about.people %}{% if person.contact %}
    <h3>{{ person.name }}{% if person.callsign %} ({{ person.callsign }}){% endif %}{% if person.title %} - {{ person.title }}{% endif %}</h3>
    <p><strong>Contact:</strong> {% if person.contact.email %}<em>Email:</em> {{ person.contact.email }}{% endif %}{% if person.contact.discord %} <em>Discord (<a href="{{ person.contact.discord.server.invite }}">{{ person.contact.discord.server.name }}</a>):</em> {{ person.contact.discord.name }}{% endif %}</p>
{% endif %}{% endfor %}