{#<footer class="bg-secondary fixed-bottom">#}
{#    <div class="list-unstyled d-flex justify-content-end">#}
{#        <a class="text-light container p-2" href="https://discord.gg/{{ discord }}">Discord</a>#}
{#        <a class="text-light container p-2" href="mailto:{{ email }}">Email</a>#}
{#        <a class="text-light container p-2" href="https://gitlab.com/{{ gitlab }}/issues">GitLab</a>#}
{#        <a class="text-light container p-2" href="https://www.patreon.com/{{ patreon }}">Patreon</a>#}
{#        <a class="text-light container p-2" href="https://www.youtube.com/channel/{{ youtube }}">YouTube</a>#}
{#    </div>#}
{#    <div class="bg-primary">#}
{#        <span class="text-light justify-content-center">© 2019 <a class="text-light" href="mailto:{{ email }}">Incarnate Gaming LLC</a></span>#}
{#    </div>#}
{#</footer>#}
